body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

h1{
  color: #cdc9c3;
}


.btn{
  padding: 1rem 2rem;
  background-color: #fd8c04;
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
  border: none;
}


.btn:hover{
  background-color:#cdc9c3 ;
  
}

hr{
  border-color: #fd8c04;
  border-width: 3px;
  max-width: 66px;
}

